<div class="container">
  <h2>{{question.content}}</h2>
  <h4>User: {{question.author}}</h4>
    <div class="notes">
      Additional Notes: {{question.notes}}
      <hr>
      <br>
    </div>
    <div class= "container">
      <h1>Answers:</h1>
      <div class="answers">
        {{#each question.answers as |answer|}}
          <li>{{answer.content}}</li>
          <ul><li>{{answer.author}}</li></ul>
          <button {{action 'addFavorite' answer}}>Favorite</button><span>{{display-favorites}}</span>
          <br>
          <hr>
        {{/each}}
      </div>
    </div>
</div>
