


  {{question-detail question=model destroyQuestion="destroyQuestion"}}

  <h2>More information on {{question.content}}</h2>
  <h4>User: {{question.author}}</h4>
  <div class="notes">
    Additional Notes: {{question.notes}}
  </div>
  {{update-question question=model update="update"}}
